h1, p {
    text-align: center;
    font-weight: bold;
    color: white;
}
body {
    background-color: #8B0000;
}
.image-style {
    display: block;
    margin: 0 auto;
    width: 12.7cm; 
    height: 12.7cm;
}
